<footer>
  <div class="footer-container">
    <div class="footer-links">
      <ul class="links">
        <li><a href="/home">Home</a></li>
        <li>About</li>
        <li>FAQ</li>
        <li>Contact</li>
      </ul>
    </div>
    <div class="social-icons">
      <a href="www.facebook.com"><i class="fa-brands fa-facebook-f"></i></a>
      <a href="www.twitter.com"><i class="fa-brands fa-twitter"></i></a>
      <a href="www.instagram.com"><i class="fa-brands fa-instagram"></i></a>
      <a href="www.youtube.com"><i class="fa-brands fa-youtube"></i></a>
    </div>
    <div class="footer-title">
      <a href="/home"><h2>re-furnish</h2></a>
      <h5><em>Where pre-loved furniture finds a new home!</em></h5>
    </div>
    <div class="footer-copyright">
      <i class="fa-regular fa-copyright"></i>
      <h6>2023: re-furnish, Inc. All rights reserved.</h6>
    </div>
  </div>
</footer>
