<footer>
  <div class="footer-container">
    <div class="footer-links">
      <ul class="links">
        <li>Home</li>
        <li>About Us</li>
        <li>FAQ</li>
        <li>Contact Us</li>
      </ul>
    </div>
    <div class="social-icons">
      <i class="fa-brands fa-facebook-f"></i>
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-youtube"></i>
    </div>
    <div class="footer-title">
      <h2>re-furnish</h2>
      <h5><em>Where pre-loved furniture finds a new home!</em></h5>
    </div>
    <div class="footer-copyright">
      <i class="fa-regular fa-copyright"></i>
      <h6>2023: re-furnish, Inc. All rights reserved.</h6>
    </div>
  </div>
</footer>
