
.item-info,
.item-info-container,
.item-location {
  display: flex;
  align-items: center;

}

.individual-item {
  background-color: rgb(239, 239, 239);
  width: 30%;
  margin: 2rem;
  padding: 2rem;
  border: 1px solid rgb(148, 145, 145);
  border-radius: 2rem;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-img {
  height: auto;
  width: 100%;
}

.item-info {
  padding: 1rem 0;

}

.item-info-container{
  justify-content: space-between;
}

.fav-price{
  margin-right: 1rem;
  background-color: rgba(2, 185, 2, 0.4);
  padding: 0.6rem 1rem;
  border-radius: 15%;
  border: 0.5px solid black;
}

.item-location i {
  padding: 0.6rem 1rem;
}

.item-name {
  padding-left: 1rem;
}

.favorited-true {
  font-size: 2rem;
  color: red;
  &:hover {
    transform: scale(1.2);
  }
}

.test {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h3 {
    color: #FAB005;
  }
}

.heart-fav-button {
  border: none;
}
