body {
  font: 62.5%;
  font-family: "Poppins", sans-serif;
}

body,
html,
button,
nav,
ul,
p,
i,
h1, h2, h3 {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: none;
  }
}

.btn-primary {
  background-color: #FAB005;
  color: black;
  &:hover {
    background-color: #CAAF82;
    color: black;
  }
}


form {
input {
  border: 1.5px solid black;
  border-radius: 1.1rem;
  padding: 0.6rem;
  width: 250px;
  font-size: 1.5rem;
}
  ::placeholder {
    font-size: 1.5rem;
    color: black;
    opacity: 1;
  }
}

h3 {
  padding: 2rem 0;
}
