.sell-item {
  padding: 4rem 0 5rem;
  margin: 0 auto;
  h3 {
    color: #FAB005;
    padding-left: 10%;
  }
}

.sell-item-form {
  width: 80%;
  margin: 0 auto;
  .form-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -1rem;
  }
  input,
  select {
    padding: 1rem;
    margin-bottom: 1.5rem;
    margin-right: 1rem;
    width: 45%;
  }
  input::placeholder,
  select {
    color: rgb(111, 109, 109);
  }
  #description {
    height: 15rem;
    width: 91%;
    display: block;
    margin-top: -1rem;
  }
  #photo {
    display: block;
    width: 91%;
  }
}


